<h1>Welcome to the awesome movie Browser game that kicks ass !</h1>

	<form action="/browser" method="POST">
		<input type="text" name="word" placeholder="enter a word">
		<button type="search" value="submit">
	</form>